.home-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-cont{
    margin: 1rem 15%;
    margin-bottom: 4rem;
}

h1{
    font-size: 3rem;
    font-family: 'Allura', cursive;
    color: dimgray;
}

p, li{
    font-size: 1.6rem;
    color: darkgrey;
}

