a{
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 1.4rem;
    color: grey;
}

.nav-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

.dropdown{
    display: none;
}

@media screen and (max-width: 1200px){
    a{
       font-size: 1.2rem;
       margin: 0 1rem;
    }
    .nav-cont{
        justify-content: center;
    }
}

@media screen and (max-width: 900px){
    
}