a{
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 1.4rem;
    color: grey;
}

.nav-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

@media screen and (max-width: 1000px){
    
}